.font_system {
    font-family: 'ARIAL', 'Almarai', sans-serif;
    src: url('//cyb_inv_customization/static/src/css/font/ARIAL.TTF') format('truetype');
}
*{
    font-family: 'ARIAL','Almarai';
    font-size:12px;
}